.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
/*
@media (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-4, .col-md-6, .col-md-9 {
    float: left;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}*/
@media (max-width: 991px) {
	.col-md-1{
    float: left;
  }
  #chart {
	padding-top: 0px !important;
	top: 400px;
  }
  #mapContainer{
	top: -200px;
	left: 0px !important;
  }
}